body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

a {
    color: black;
}

header {
    box-shadow: 3px 3px 3px black;
}

main {
    text-align: center;
}

main > section {
    background-color: white;
}