@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.322);
}

header > img {
    height: 50px;
    width: 100px;
}

nav {
    display: inline-table;
}

nav > a {
    color: black;
    text-decoration: none;
    padding: 14px 7px;
}

nav > a:hover {
    color: #3d52f2;
    border-bottom: 3px solid #3d52f2;
}

main {
    text-align: center;
}

section#intro {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#intro h1{
    font-size: 2em;
    margin: 5px;
}

section#intro p {
    margin: 5px;
}

section#intro div {
    display: inline-table;
    margin: 10px;
}

section#intro a {
    text-decoration: none;
    color: white;
    background-color: #3d52f2;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
}

section#intro a:hover {
    background-color: #2e3fbd;
}

section#projetos {
    background-color: white;
}

section#projetos h2 {
    padding: 25px;
    text-decoration: underline;
}

section#projetos article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin: auto;
    min-width: 375px;
    max-width: 1000px;
    min-height: 200px;
    border-radius: 10px;
    padding: 25px;
}

article > img {
    width: 300px;
    height: 200px;
}

article aside {
    max-width: 500px;
}

aside h1 {
    font-size: 1.3em;
}

aside p {
    text-align: justify;
    margin: 10px;
}

aside div {
    display: inline-table;
}

aside a {
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.644);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.308);
    margin: 5px;
    padding: 4px 8px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer > p {
    padding: 8px;
}