main {
    min-width: 270px;
    max-width: 730px;
    margin: auto;
    padding: 32px 12px;
}

main section {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 12px 0;
    border-top: 1px solid rgba(128, 128, 128, .2);
}

main a {
    color: inherit;
}

section#certificados {
    text-align: center;
}

section#certificados h1 {
    font-size: 2em;
    text-align: justify;
}

section#certificados picture {
    margin-bottom: 10px;
}